/* Simple CSS Reset */

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}


/*=================*/

body {
    background-color: #f1f1f1;
    font-family: "Nunito";
}


/*=================*/

.container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 1024px;
    margin: auto;
}


/*=================*/

.header {
    display: grid;
    grid-column: 1 / span 12;
    grid-row: 1;
    padding: 10px 15px;
    background-color: #fff;
    align-items: center;
}

.header .logo {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.header .logo img {
    height: 35px;
}

.header .search-bar {
    grid-column: 4 / span 7;
    grid-row: 1;
}

.header form {
    display: grid;
}

.header form input[type="text"] {
    grid-column: 1 / span 3;
    height: 35px;
    padding: 0px 10px;
}

.header .submit {
    grid-column: 4;
}

.header .submit {
    line-height: 50%;
    color: #888;
    cursor: pointer;
}

.header .buttons {
    display: grid;
    grid-column: 11 / span 2;
    grid-row: 1;
    align-items: center;
}

.header .upload {
    /* grid-column: 11; */
    grid-row: 1;
    line-height: 50%;
}

.header .upload i {
    font-size: 30px;
    color: #666;
}

.header .signin {
    /* grid-column: 12; */
    grid-row: 1;
}

.signin a {
    padding: 5px 10px;
    background-color: #167ac6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.buttons a {
    float: right;
    text-decoration: none;
}


/*=================*/

.player {
    display: grid;
}

.video {
    display: grid;
    grid-row: 1;
    grid-column: 1 / span 8;
}

.video .channel-summary {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 7;
}

.video .channel-summary {
    display: grid;
    grid-row: 2;
    grid-column: 1 / span 8;
}

.info {
    display: grid;
}

h2 {
    grid-column: 1 / span 8;
    grid-row: 1;
}

.video .channel-summary img {
    display: grid;
    grid-row: 1 / span 2;
    grid-column: 1;
}


/*=================*/

.page {
    display: grid;
    grid-column: 1 / span 12;
    margin-top: 20px;
}

.content {
    display: grid;
    grid-column: 1 / span 8;
    grid-row: 2;
}

.suggestions {
    display: grid;
    grid-column: 9 / span 4;
    grid-row: 2;
}

.suggestion {
    display: grid;
}

.suggestion .thumbnail {
    grid-column: 1;
}

.suggestion .details {
    grid-column: 2;
}

.footer {
    display: grid;
    grid-column: 1 / span 12;
    grid-row: 3;
}